<%- include('../partials/en/header') -%>

<h1>Competition Info</h1>

<button>
    <a href="/PDF/Competition Info 2023.pdf">Download PDF</a>
</button>
<br>

<iframe src="/competition.html" style="width: 50rem; height: 30rem;">
</iframe>

<script>
    //Sets the colour of the current page to be gold
    $('.competition-info-page').css('color', '#d1aa66')
</script>

<%- include('../partials/en/footer') -%>