<%- include('../partials/en/header') -%>

<h1>Competiiton Info</h1>

<button>
    <a href="/PDF/Competition Info 2023.pdf">Download PDF</a>
</button>
<br>

<iframe src="/competition.html" style="width: 50rem; height: 30rem;">
</iframe>

<%- include('../partials/en/footer') -%>