<%- include('../partials/en/header') -%>

<div class="main row">

    <div class="col-lg-12">
        <h1>WELCOME</h1>
    </div>
    <div class="col-lg-12">
        <img src="../images/en-light-logo-image.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">


    <div class="col-lg-12">
        <h1>BIG NEWS!</h1>
        <P>THIS YEAR WE ARE PROUDLY IN ASSOCIATION WITH</P>
        <P>WITS UNIVERSITY|SCHOOL OF LAW</P>
        <img src="../images/Wits-university.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">



    <div class="col-lg-12">
        <h1>ENTRIES ARE NOW OPEN!</h1>
        <P>READY TO SIGN UP CLICK O THE</P>
        <P>LINK BELOW TO BE REDIRECTED</P>
        <P>TO THE ENTRY FORM!</P>
        <button></BUtton>
    </div>

</div>


<%- include('../partials/en/footer') -%>