<%- include('../partials/en/header') -%>


<div class="row">
    <div class="col-lg-12"><h1 class="nationals">2023 Results Not Available</h1></div>
</div>
<hr class="page-break">

<div class="row">
    <div class="col-lg-12"><h1 class="nationals" id="N2022">Nasional Round Results 2022</h1></div>

    <br><br>

    <div class="col-lg-5 offset-lg-2"><h2>Top 3 Public Speaking Results</h2></div>
    <div class="col-lg-2"> <button>
        <a href="../PDF/NASIONALE_RONDTE_TOP_3_.pdf" download>DOWNLOAD</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-5 offset-lg-2"> <h2>Top 3 Skole Uitslae</h2></div>
    <div class="col-lg-2"><button>
        <a href="../PDF/REDENAARS_PROVINSIALE_UITSLAE.pdf" download>DOWNLOAD</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-5 offset-lg-2"><h2>Top 3 Schools Results</h2></div>
    <div class="col-lg-2"><button>
        <a href="../PDF/PUBLIC_SPEAKING_PROVINCIAL_RESULTS_.pdf" download>DOWNLOAD</a>
    </button></div>
</div>

<br><br>

<div class="row">
    <div class="col-lg-12"><h1 class="nationals" id="P2022">Provincial Round Results 2022</h1></div>


    <br><br>

    <br><br><br>

    <div class="col-lg-6 offset-lg-2"> <h2>English Public Speaking Top 3 Results </h2></div>
    <div class="col-lg-2"><button>
        <a href="../PDF/Top-3-SCHOOLS-Results-2022.jpeg" download>DOWNLOAD</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-6 offset-lg-2"><h2>Afrikaans Redenaars Top 3 Results </h2></div>
    <div class="col-lg-2"><button>
        <a href="../PDF/Top-3-SKOLE-Uitslae-2022.jpeg" download>DOWNLOAD</a>
    </button></div>
</div>

<div id="result-page-nav">
    <p>2023 Results Not Available</p>
    <p><a href="#N2022">National Round Results 2022</a></p>
    <p><a href="#P2022">Provincial ROund Results 2022</a></p>
</div>

<script>
    //Sets the colour of the current page to be gold
    $('.results-page').css('color', '#d1aa66')
</script>


<%- include('../partials/en/footer') -%>