<%- include('../partials/afr/header') -%>

<h1>Kompetitsie inligting</h1>

<button>
    <a href="/PDF/Competition Info 2023.pdf">Laai PDF af</a>
</button>
<br>

<iframe src="/competition.html" style="width: 50rem; height: 30rem;">
</iframe>

<%- include('../partials/afr/footer') -%>