<%- include('../partials/afr/header') -%>

<h1>Kompetisie inligting</h1>

<button>
    <a href="/PDF/Kompetisie Inligting 2023.pdf">Laai PDF af</a>
</button>
<br>

<iframe src="/kompetitsie.html" style="width: 50rem; height: 30rem;">
</iframe>

<script>
    //Sets the colour of the current page to be gold
    $('.competition-info-page').css('color', '#d1aa66')
</script>

<%- include('../partials/afr/footer') -%>