<%- include('../partials/afr/header') -%>

<div class="main row">

    <div class="col-lg-12">
        <h1>WELKOM</h1>
    </div>
    <div class="col-lg-12">
        <img src="../images/en-light-logo-image.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">


    <div class="col-lg-12">
        <h1>GROOT NUUS!</h1>
        <P style="word-spacing: 0.1">VANJAAR VAT ONS TROTS HANDE MET</P>
        <P style="font-size: 23pt">
            <span style="font-weight: 600;">WITS UNIVERSITY</span>
            <span style="color: #d1aa66;">
                <span style="color: #000;">|</span> SCHOOL OF LAW</span>
        </P>
        <img src="../images/Wits-university.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">



    <div class="col-lg-12" style="font-size: 20pt;">
        <h1>INSKRYWINGS IS NOU OOP!</h1>
        <P>GEREED OM IN TE SKRYF? KLIEK OP DIE</P>
        <P>SKAKEL HIERONDER OM NA DIE</P>
        <P>INSKRYWINGSVORM TE GAAN</P>
        <button style="font-size: 12pt; width: 157px;"><a href="/entry">INSKRYWINGSVORM</a></BUtton>
    </div>

</div>


<%- include('../partials/afr/footer') -%>