<%- include('../partials/afr/header') -%>

<div class="main row">

    <div class="col-lg-12">
        <h1>WELKOM</h1>
    </div>
    <div class="col-lg-12">
        <img src="../images/en-light-logo-image.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">


    <div class="col-lg-12">
        <h1>GROOT NUUS!</h1>
        <P style="word-spacing: 0.1">VANJAAR VAT ONS TROTS HANDE MET</P>
        <P style="font-size: 23pt">
            <span style="font-weight: 600;">WITS UNIVERSITY</span>
            <span style="color: #d1aa66;">
                <span style="color: #000;">|</span> SCHOOL OF LAW</span>
        </P>
        <img src="../images/Wits-university.png" class="excellent-logo-img">
    </div>

    <hr class="page-break">



    <div class="col-lg-12" style="font-size: 20pt;">
        <h1>INSKRYWINGS IS NOU OOP!</h1>
        <P>GEREED OM IN TE SKRYF? <span style="color:#d1aa66">KLIEK</span> OP DIE</P>
        <P>SKAKEL HIERONDER OM NA DIE</P>
        <P><span style="color:#d1aa66">INSKRYWINGSVORM</span> TE GAAN</P>
        <div class="row form-info-div">
            <div class="col-lg-7">
                <p class="form-info">Vir enkele inskrywings(AFR - Voorbereid/Onvoorbereid, ENG -
                    Prepared/Unprepared)</p>
            </div>
            <div class="col-lg-4">
                <button style="font-size: 12pt;"><a href="/entry">ENKEL-VORM</a></BUtton>
            </div>
            <div class="col-lg-6">
                <p class="form-info">Vir groep inskrywings(AFR - Spanne, ENG - Teams)</p>
            </div>
            <div class="col-lg-6">
                <button style="font-size: 12pt;"><a href="/teams">SPANNE-VORM</a></BUtton>
            </div>
        </div>
    </div>

</div>

<script>
    //Sets the colour of the current page to be gold
    $('.home-page').css('color', '#d1aa66');
</script>


<%- include('../partials/afr/footer') -%>