<%- include('../partials/afr/header') -%>

    <div class="main row">

        <div class="col-lg-12">
            <h1>Welkom</h1>
            <br><br><br><br>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="paragraph-content">
                    After 10 years of Redenaars and Public Speaking excellence, we are extremely proud to present our
                    brand-new
                    website and image for 2022.
                    Ons het oor die afgelope dekade gegroei tot een van die grootste en mees gerespekteerde kompetisies
                    in
                    die
                    veld, met sprekers vanuit die hele land wat aan ons Provinsiale Uitdunne en gesogte Nasionale Rondte
                    deelneem.
                    Entries for 2023 are now open!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12"><h1 class="nationals">NATIONALE RONDTE UITSLAE 2022</h1></div>
            <hr class="page-break">

            <br><br><br><br>

            <div class="col-lg-5 offset-lg-2"><h2>TOP 3 DEELNAME</h2></div>
            <div class="col-lg-2"><button>LAAI AF</button> </div>

            <br><br><br>

            <div class="col-lg-5 offset-lg-2"> <h2>TOP 3 AFRIKAANS SKOLE UITSLAE</h2></div>
            <div class="col-lg-2"><button>LAAI AF</button> </div>

            <br><br><br>

            <div class="col-lg-5 offset-lg-2"><h2>TOP 3 ENGLISH SCHOOLS RESULTSS</h2></div>
            <div class="col-lg-2"><button>LAAI AF</button> </div>
        </div>
    </div>


<%- include('../partials/afr/footer') -%>