<%-include('partials/header')-%>

<h1>Natoinal round</h1>
<br>
<br>
<br>
<div>
<p>Please confirm your participartion</p>
<p>INSERT SEARCH BAR HERE</p>
<table>
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
</table>
</div>

<script>
    //Sets the colour of the current page to be gold
    $('.national-round-page').css('color', '#d1aa66');
</script>

<%-include('partials/footer')-%>