<%- include('../partials/afr/header') -%>


<div class="row">
    <div class="col-lg-12"><h1 class="nationals">2023 Nie beskikbaar nie</h1></div>
</div>
<hr class="page-break">

<div class="row">
    <div class="col-lg-12"><h1 class="nationals">Nasionale Rondte Uitslae 2022</h1></div>

    <br><br>

    <div class="col-lg-5 offset-lg-2"><h2>Top 3 Deelname Uitslae</h2></div>
    <div class="col-lg-2"> <button>
        <a href="/PDF/NASIONALE_RONDTE_TOP_3_.pdf" download>Laai Af</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-5 offset-lg-2"> <h2> Afrikaans Skole Top 3 Uitslae</h2></div>
    <div class="col-lg-2"><button>
        <a href="/PDF/REDENAARS_PROVINSIALE_UITSLAE.pdf" download>Laai Af</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-5 offset-lg-2"><h2>Engish Schools Top 3  Results</h2></div>
    <div class="col-lg-2"><button>
        <a href="/PDF/PUBLIC_SPEAKING_PROVINCIAL_RESULTS_.pdf" download>Laai Af</a>
    </button></div>
</div>

<br><br>

<div class="row">
    <div class="col-lg-12"><h1 class="nationals">Provinsiale Rondte Resultate 2022</h1></div>


    <br><br>

    <br><br><br>

    <div class="col-lg-6 offset-lg-2"><h2>English Public Speaking Uitslae</h2></div>
    <div class="col-lg-2"><button>
        <a href="/PDF/Top-3-SCHOOLS-Results-2022.jpeg" download>Laai Af</a>
    </button></div>

    <br><br><br>

    <div class="col-lg-6 offset-lg-2"><h2>Afrikaans Redenaars Uitslae</h2></div>
    <div class="col-lg-2"><button>
        <a href="/PDF/Top-3-SKOLE-Uitslae-2022.jpeg" download>Laai Af</a>
    </button></div>
</div>

<script>
    //Sets the colour of the current page to be gold
    $('.results-page').css('color', '#d1aa66');
</script>

<%- include('../partials/afr/footer') -%>